* {
    padding: 0;
    margin: 0;
}


body {
    overflow-y: hidden;
}

#canvas {
    width: 100vw;
    height: 95vh;
    background-color: black;
}

.ss {
    display: flex;
    justify-content: center;
}

